<!-- <h2>Hello World!</h2>
<button class="btn btn-primary">button</button>

<div class="container">
  <div class="row">
    <div class="col-sm-4">one</div>
    <div class="col-sm-4">two</div>
    <div class="col-sm-4">three</div>
  </div>
</div> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <app-sidenav (itemClicked)="updateTitle($event)" ></app-sidenav> -->
    <app-sidenav ></app-sidenav>
  </mat-drawer>
  <app-toolbar [drawer]=drawer ></app-toolbar>
  <app-main-page>
    <p appHighlight #para [ngStyle]="{'color': 'blue'}">This is content from app html</p>
  </app-main-page>
</mat-drawer-container>
