<div class="container example-container bg-dark">
  <mat-list role="list">
    <button mat-raised-button color="accent" (click)="sendCLickEvent('bookmarks')">
      <mat-list-item role="listitem">
        <mat-icon>bookmarks</mat-icon></mat-list-item
      >
    </button>
    <br/>
    <button mat-raised-button color="accent" (click)="sendCLickEvent('build')">
      <mat-list-item role="listitem">
        <mat-icon>build</mat-icon></mat-list-item
      >
    </button>
    <br/>
    <button mat-raised-button color="accent" (click)="sendCLickEvent('extension')">
      <mat-list-item role="listitem">
        <mat-icon>extension</mat-icon></mat-list-item
      >
    </button>
  </mat-list>
</div>
